@use '../base' as base;

#downloadAppContainer {
  background-image: url('../../components/DownloadApp/assets/DownloadAppBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 62vh;
  min-height: 32rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;

  > div {
    margin: 0 auto;
    width: 100%;
    max-width: base.$maxContainerWidth;
    text-align: center;
    color: base.$color-white-text;
    font-weight: 700;
    z-index: 2;

    h3 {
      font-size: base.$text-size-h3;
      padding-bottom: 0.8rem;
      font-weight: 500;
      padding-top: 0.4rem;
    }

    > h2 {
      font-size: base.$text-size-h2;
      font-family: 'Poppins', sans-serif;
      line-height: 5rem;
    }

    > div {
      padding-top: 2.8rem;

      button {
        font-size: 1rem;
        color: base.$color-white-text;
        width: 10rem;
        height: 4.25rem;
        border-radius: 0.6rem;
        cursor: pointer;
        transition: all ease 0.3s;

        &:nth-child(1) {
          background-color: base.$color-orange;
          border: none;
          margin-right: 2rem;

          &:hover {
            filter: brightness(1.5);
          }
        }
      }
      a:nth-child(2) button {
        background-color: transparent;
        border: solid 1px base.$color-white-text;

        &:hover {
          background-color: base.$color-orange;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  #downloadAppContainer {
    background-image: none;
    background-color: #252b42;
    > div {
      padding: 0 3rem;
      h3 {
        font-size: 2rem;
      }
      > h2 {
        font-size: 4rem;
        padding-bottom: 3rem;
      }

      > div {
        button {
          font-size: 1.6rem;
          width: 12rem;
          height: 5rem;
        }
      }
    }
  }
}
