@use '../base' as base;

#floatingPhonesContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: -9rem;
  height: 60vh;
  min-height: 650px;

  img {
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  }
}

@media (max-width: 700px) {
  #floatingPhonesContainer {
    min-height: 100vw;
    margin-top: -5rem;
    div {
      display: flex;
      width: 100vw;

      img {
        width: 95vw;
        height: fit-content;
      }
    }
  }
}
