$mainFontFamily: 'Montserrat', sans-serif;

$maxContainerWidth: 80rem;

$containerWidth: 92vw;

$color-orange: #fa4a0c;
$color-text: #252b42;
$color-white-text: #fff;
$color-second-text: #737373;
$color-black: #000;

$text-size-h3: 1.5rem;
$text-size-h2: 2.5rem;
$text-size-h1: 3.625rem;
